OPENAI_API_KEY=

AUTH0_SECRET=
AUTH0_BASE_URL=http://152.67.112.83:3001
AUTH0_ISSUER_BASE_URL=https://your-tenant-region.auth0.com
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=

DEEPSEEK_BASE_URL=
DEEPSEEK_API_KEY=
